.App-body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
}

.App-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-name {
  padding-left: 3vw;
  padding-top: 3vw;
  font-family: 'Gill Sans';
} 
.display-6 {
  padding-left: 2vw;
  padding-top: 1.5vw;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}